* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e293b;
}

.navbar a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #3b82f6, #1e3a8a);
}

.hero-buttons {
    margin-top: 15px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.hire {
    background: #22c55e;
}

/* SECTIONS */
section {
    padding: 30px;
    text-align: center;
}

/* BOX */
.box {
    background: #1e293b;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

/* PROJECT */
.card {
    background: #1e293b;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* CTA */
.cta {
    background: #22c55e;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}

/* WHATSAPP FLOAT */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
